@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');
html {
    font-size: 10px;
}

* {
     box-sizing: border-box !important;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

.padding {
    padding: 0 !important;
}

.margin , .img-fluid {
    margin: 0 !important;
}

p {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 0;
    color: #1F1F1F;
}

a {
    text-decoration: none;
}

.increase , .change-header-increase  {
    color: #05B169 !important;
}

.decrease , .change-header-decrease {
    color: #E95F67 !important;
}

@media screen and (max-width : 1399px) {
    html {
        font-size: 8px;
    }

    .confirmation-buy-modal , .confirmation-sell-modal {
        width: 450px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .result-modal , .no-value-sell-modal , .no-value-buy-modal {
        width: 350px !important;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width : 1199px) {
    html {
        font-size: 7px;
    }

    .confirmation-buy-modal , .confirmation-sell-modal {
        width: 400px;
    }

    .result-modal , .no-value-sell-modal , .no-value-buy-modal {
        width: 300px !important;
    }
}

@media screen and (max-width : 991px) {
    html {
        font-size: 7px;
    }
}

@media screen and (max-width : 767px) {
    html {
        font-size: 6px;
    }
}

@media screen and (max-width : 575px) {

}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.7rem;
    color: #1576F5;
}

/* BTC infomations header*/
.header {
    margin: 3.5rem 0;
}

.header-text {
    width: fit-content;
    color:#392DC8;
    font-size: 2.5rem;
    font-weight: 700;
    margin-right: 1rem;
}

.info-table-header  {
    width: fit-content;
}

.info-table-header td {
    padding: 0 0 0 2rem !important;
    font-size: 1.5rem;
}

.info-table-header tr:first-child td:nth-child(2) , .info-table-header tr:first-child td:nth-child(3) , .info-table-header tr:last-child td:first-child {
    color: #6A7687;
    font-weight: 400;
}

.price-header , .change-header-increase , .change-header-decrease , .volumn-header {
    font-weight: 600;
    color: #1F1F1F;
}
/* Time and indicators */
.time-bar {
    gap: 4rem;
    margin-bottom: 2rem;
}

.time-button {
    gap: 1rem;
}

.time-setting , .indicators {
    padding: 0.5rem 1rem !important;
    color: #1F1F1F;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 0.5rem;
    border: 0.5px solid #8B8C9B;
}

.indicators div img {
    padding-left: 0.7rem;
}

.btn-check:focus+.btn, .btn:focus {
    box-shadow: 0 0 0 0;
    background-color: #8B8C9B;
}

.btn-check:active+.btn:focus, .btn-check:checked+.btn:focus, .btn.active:focus, .btn.show:focus, .btn:active:focus {
    box-shadow: 0 0 0 0;
}

.indicators:focus {
    background-color: #F4F5F6;
    color: #8B8C9B;
}

/* .active {
    background-color: #8b8c9b !important;
}

.disactive {
    background-color: #fff;
} */

/* Swap Box */
.swap-box , .statistics {
    margin-left: 6rem;
}

.head-swap-box {
    width: 100%;
    display: flex;
}



#buy-button , #sell-button {
    display: flex;
    justify-content: center;
    padding: 1.55rem 0;
    width: 50%;
    font-size: 2rem;
    color: #1F1F1F;
    font-weight: 600;
}

#buy-button , #sell-button , .pointer {
    cursor: pointer;
}

.missed-border-default {
    border: 0.1rem solid #8B8C9B;
    border-left: 0;
}

.missed-border-click-sell {
    border: 0.1rem solid #8B8C9B;
    border-right: 0;
}

.full-border {
    border-top: 0.4rem solid #1576F5;
    border-left: 0.1rem solid #8B8C9B;
    border-right: 0.1rem solid #8B8C9B;
    color: #1576F5 !important;
}



.appear {
    display: block;
}

.disappear {
    display: none;
}



.main-swap-box-buy , .main-swap-box-sell {
    padding: 4rem 2rem;
    border-radius: 0 0 0.5rem 0.5rem;
    border: 0.5px solid #8B8C9B;
    border-top: 0;
}

.USDT , .token {
    border: 0.75px solid #8B8C9B;
    border-radius: 0.5rem;
}

.USDT img  , .token img {
    width: 3rem;
}

.USDT input , .token input {
    height: 4.1rem;
    font-size: 1.5rem;
    color: #1F1F1F;
    border: none;
}

.form-control:disabled , .input-group-text {
    background-color: #fff !important;
    border: none;
}

.USDT input:focus {
    border-color: #8B8C9B;
    box-shadow: 0 0 0 0;
}

.USDT {
    margin-bottom: 1.25rem;
}

.part1-swap {
    border-radius: 0.5rem;
    background-color: #F4F5F6;
    padding: 1.17rem 1.5rem;
}

.part2-swap {
    margin-top: 1rem;
    padding: 1rem 1.5rem 1.5rem;
    border-bottom: 0.1rem solid #DEDEDE;
}

.info-account-swap-token-to-USDT , .info-account-swap-USDT-to-token {
    font-size: 1.3rem;
    font-weight: 400;
    color: #1F1F1F;
}

.info-account-swap-USDT-to-token td , .info-account-swap-token-to-USDT td {
    padding: 0;
}

.swap-USDT-to-token td , .swap-token-to-USDT td {
    padding-bottom: 0.75rem;
}

.info-account-swap-USDT-to-token tr td:last-child , .info-account-swap-token-to-USDT tr td:last-child {
    text-align: end;
}

.part3-swap {
    padding: 1rem 1.5rem;
}

.part3-swap p {
    color: #717171;
    font-size: 1.2rem;
    font-weight: 400;
}

#swap-button {
    width: 100%;
    margin-top: 3rem;
    transition: 0.3s;
    padding: 0;
    border: none;
    border-radius: 0.8rem;
}

#swap-link {
    display: block;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.3rem 0;
    background-color: #1576F5;
    border-radius: 0.8rem;
}

#swap-link:hover , #swap-link:focus {
    background-color: #0A66DF;
    color: #fff;
}

/* BTC information website and statistics table */
.additional information {
    margin: 7.7rem 0 5rem;
}
.about-token p:first-child , .statistics p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1576F5;
    margin-bottom: 2.5rem;
}

.about-token p:nth-child(2) , .about-token p:nth-child(3) {
    margin-bottom: 0.7rem;
}

.website {
    margin-top: 2rem;
}

.website a {
    padding-right: 2rem;
    color: #143084;
    font-size: 1.3rem;
    font-weight: 400;
}

.statistics-table tbody tr td {
    font-size: 1.3rem;
    font-weight: 400;
    color: #1F1F1F;
    padding: 1rem 1.5rem;
    border-bottom: 0.1rem solid #DFDFDF;
}

.statistics-table tbody tr td:last-child {
    text-align: end;
}

.statistics-table tbody tr td:first-child {
    padding: 1rem 0;
}

.statistics-table tbody tr:first-child td {
    padding-top: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    max-width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #392DC8;
    height: 5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #251d83;
}


/* Transaction Confirmation  */
.confirmation-buy-modal , .confirmation-sell-modal , .no-value-buy-modal , .no-value-sell-modal {
    padding: 4rem 2.5rem 5rem;
    border-radius: 0.8rem;
}

#confirmation {
    font-size: 2.4rem;
    font-weight: 600;
}

.modal-header {
    border-bottom: 0;
    padding-bottom: 3.5rem;
}

.modal-body p {
    font-size: 1.4rem;
    font-weight: 500;
    color: #1F1F1F;
}

.modal-body p span {
    font-weight: 600;
    color: #1576F5;
}

#buy-OTP , #sell-OTP {
    margin-top: 1.5rem;
    height: 5rem !important;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 0.8rem;
    border: 0.5px solid #8B8C9B;
    transition: 0.3s;
}

#buy-OTP:focus , #sell-OTP:focus {
    border-color: #1576F5;
    box-shadow: 0 0 0 0;
}

.modal-footer {
    border-top: 0;
    margin-top: 3.5rem;
}

#confirm-button {
    width: 100%;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.3rem 0;
    background-color: #1576F5;
    border-radius: 0.8rem;
    border: none;
}

#confirm-button:focus , #confirm-button:hover {
    background-color: #0A66DF;
    color: #fff;
}

.result-modal , .no-value-sell-modal , .no-value-buy-modal {
    width: 402px;
    padding: 5rem 3rem;
    border-radius: 0.8rem;
}

.success-content , .failed-content , .warning-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success-content p:nth-child(2) , .failed-content p:nth-child(2) , .warning-content p:nth-child(2) {
    margin: 3.5rem 0 1rem;
    font-size: 2.4rem;
    font-weight: 600;
}

.success-content p:nth-child(3) , .failed-content p:nth-child(3) , .warning-content p:nth-child(3) {
    width: 32rem;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

.success-content p:nth-child(3) span {
    color: #1576F5;
    font-weight: 500;
}