@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');
html {
    font-size: 10px;
}

* {
     box-sizing: border-box !important;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

.padding {
    padding: 0 !important;
}

.margin , .img-fluid {
    margin: 0 !important;
}

p {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 0;
    color: #1F1F1F;
}

a {
    text-decoration: none;
}

.increase , .change-header-increase  {
    color: #05B169 !important;
}

.decrease , .change-header-decrease {
    color: #E95F67 !important;
}

@media screen and (max-width : 1399px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1199px) {
    html {
        font-size: 7px;
    }
}

@media screen and (max-width : 991px) {
    .container-lg {
        display: none;
    }
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.7rem;
    color: #1576F5;
}

/* General wallet information */
.general-wallet-information {
    margin: 2.5rem 0 4.5rem;
}

.div-chart {
    width: 100%;
    height: 29.6rem;
    padding: 1rem 0;
    border: 0.1rem solid #DEDEDE;
    border-radius: 0.5rem;
}

.part1 {
    width: 100%;
    height: 12.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    border: 0.1rem solid #DEDEDE;
}

.part1 p:first-child , .part2 p:first-child {
    font-size: 1.4rem;
    font-weight: 400;
    color: #777777;
    text-align: center;
    margin-bottom: 1rem;
}

.part1 p:last-child , .part2 p:nth-child(2) {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    color: #392DC8;
}

.part2 {
    height: 16rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #DEDEDE;
}

.part2 p:last-child {
    margin-top: -0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

/* Portfolio Tab and Transaction History */
.detail-information-wallet {
    margin-bottom: 5rem;
}
.nav-link {
    font-size: 1.5rem;
    font-weight: 500;
    color: #1F1F1F;
    transition: 0.3s;
}

.nav-item {
    margin-right: 1rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #fff;
    color:#1F1F1F;
    padding-bottom: 1rem;
    border-bottom: 0.3rem solid #392dc8;
    border-radius: 0;
}


/* Portfolio Tab */
.portfolio-table {
    margin-top: 4.5rem;
}

.head-portfolio tr th , .head-transaction tr th {
    font-size: 1.4rem;
    font-weight: 600;
    color:#1F1F1F;
    padding: 1rem;
    background: #F6F9FC;
    border: none;
}

.head-portfolio tr th:first-child {
    width: 40rem;
}

.head-portfolio tr th:nth-child(3) , .head-portfolio tr th:nth-child(4) , .head-portfolio tr th:nth-child(5) {
    width: 19rem;
    text-align: end;
}

.head-portfolio tr th:nth-child(6){
    width: 16.5rem;
    text-align: end;
}

.size {
    width: 3rem;
}

.body-portfolio td , .body-transaction td { 
    height: 5rem;
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #1F1F1F;
    border-bottom: 0.1rem solid #DFDFDF;
}

.body-portfolio td p:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 400;
    color: #1F1F1F;
    padding: 0 4rem 0 3rem;
}

.body-portfolio td p:nth-child(3) {
    font-size: 1.5rem;
    font-weight: 400;
    color: #C3C3C3;
}

.body-portfolio:not(td:first-child) {
    text-align: end;
}

.body-portfolio tr td:nth-child(2) {
    text-align: start;
}

/* Transaction History */
.history-part1 {
    margin: 4.5rem 0 3rem;
}
.history-part1 .nav-link {
    font-size: 1.3rem;
    font-weight: 400;
    color: #1F1F1F;
    border-radius: 0.5rem;
    border: 0.5px solid #8B8C9B;
    padding: 0.5rem 2rem;
    transition: 0.2s;
}

.history-part1 .nav-pills .nav-link.active, .history-part1 .nav-pills .show>.nav-link {
    background-color: #1576F5;
    color:#fff;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: 0.5px solid #1576F5;
}

/* Filter in transaction history bar */
.filter-bar , .transaction-filter {
    gap: 1.5rem
}
#time-filter {
    font-family: 'Be Vietnam Pro', sans-serif;
    border: none;
    font-size: 1.3rem;
    font-weight: 400;
    color: #1F1F1F;
    cursor: pointer;
    width: 14rem;
}

#time-filter:focus-visible {
    outline: 0;
}

.time-filter {
    height: 3.15rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    border: 0.5px solid #8B8C9B;
}

.arrow-picture {
    padding: 0 1.5rem;
}

.coin-filter , #HASH {
    font-size: 1.3rem;
    font-weight: 400;
    color: #1F1F1F;
    cursor: pointer;
    height: 3.15rem;
    width: 12rem;
    border: 0.5px solid #8B8C9B;
    border-radius: 0.5rem;
}

.coin-filter:focus , #HASH {
    border-color: #8B8C9B;
    box-shadow: 0 0 0 0;
}

.filter-button {
    height: 3.15rem;
    padding: 0 1.9rem;
    background-color: #1576F5;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.3rem;
    color: #fff;
}

.filter-button:focus {
    background-color: #0A66DF;
}

/* Filter tab */
#HASH {
   width: 40rem !important;
}

/* Transaction History */
.head-transaction tr th:first-child {
    width: 12rem;
    height: 3.9rem;
}

.head-transaction tr th:nth-child(2) , .body-transaction tr td:nth-child(2) {
    width: 22rem;
    text-align: center;
}

.head-transaction tr th:nth-child(3) , .body-transaction tr td:nth-child(3) {
    width: 13rem;
    text-align: center;
}

.head-transaction tr th:nth-child(4) , .body-transaction tr td:nth-child(4){
    width: 14rem;
}

.head-transaction tr th:nth-child(5) , .head-transaction tr th:nth-child(6) , .head-transaction tr th:nth-child(7) , .head-transaction tr th:last-child {
    width: 18rem;
    text-align: end;
}

.body-transaction tr td:nth-child(5) , .body-transaction tr td:nth-child(6) , .body-transaction tr td:nth-child(7) , .body-transaction tr td:last-child {
    text-align: end;
}

.appear {
    display: block;
}

.disappear {
    display: none;
}


/* Scrollbar */
::-webkit-scrollbar {
    max-width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #392DC8;
    height: 5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #251d83;
}
