body {
  max-width: 1000px;
  margin: 30px auto;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: #333;
  background-color: #fff5f3;
}

.background {
  padding: 30px;
  border-radius: 7px;
}

h1 {
  font-size: 45px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  color: black;
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
}

.price {
  font-size: 20px;
  margin: 10px 0;
}
[src] {
  width: 200px;
  margin-bottom: 40px;
}

.container {
  width: 800px;
  padding: 20px 0;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.item {
  padding: 30px 10px;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
}

img {
  margin: auto;
  display: block;
}

