body {
  margin: 0;
  font-size: 15px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(59, 57, 57);
}

.tab-log-in {
  max-width: 680px;
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
}

form {
  box-sizing: border-box;
  width: 320px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 3px;
  color: hsl(233deg 10% 64%);
}

input {
  margin-bottom: 20px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: rgb(214, 215, 216);
  transition: 0.5s;
  outline: none;
}

input:focus {
  background-color: rgb(241, 236, 236);
}

button {
  font-size: 18px;
  background-color: hsl(139deg 59% 55%);
  padding: 10px 0;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: 0.5s;
}

button:hover {
  color: #fff;
  background-color: hsl(140deg 59% 35%);
}

.part2 {
  border-left: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.log-in-with {
  color: #fff;
  width: 240px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.log-in-with.tw:hover,
.log-in-with.gh:hover,
.log-in-with.fb:hover {
  background-color: #1d1c3d;
}

.log-in-with.tw {
  background-color: hsl(203deg 89% 53%);
}

.log-in-with.gh {
  background-color: hsl(212deg 10% 38%);
}

.log-in-with.fb {
  background-color: hsl(212deg 97% 45%);
}

i {
  font-size: 22px;
  color: #fff;
  padding: 0 15px 0 10px;
}

a {
  text-align: center;
  text-decoration: none;
  color: hsl(196deg 100% 73%);
  transition: 0.2s;
  display: inline;
}

a:hover {
  color: #fff;
}

h1 {
  font-size: 50px;
  margin: 20px 0;
}

.footer {
  padding: 10px;
  background-color: rgb(30, 31, 34);
  text-align: center;
  border-radius: 5px;
  margin-top: 30px;
  border: none;
}
