body {
    background-color: #61948e;
}

.part1 {
    height: 100px;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
}

.item {
    height: 50px;
    width: 170px;
    padding: 0 !important;
    text-align: center;
    align-items: center;
    border: 1px solid #dee2e6;
    background-color: #f8f9fa;
}

.item1 {
    height: 250px;
}

@media screen and (max-width : 991px) {
    .padding {
        padding: 0px !important;
    }

    .item {
        background-color: #61948e;
        color: #f8f9fa;
    }
}
