body {
    background-color: #61948e;
}

.part1 {
    height: 100px;
    align-items: center;
}

.part1-none {
    height: 90px;
    align-items: center;
}

#dropdownMenuButton1 {
    height: 50px;
    width: 50px;
    border: 0 !important;
    background-color: #a7c5c2;
    border-radius: 5px;
}

.fa {
    font-size: 35px;
}

.item {
    height: 30px;
    width: 170px;
    padding: 0 !important;
    text-align: center;
    color: #dee2e6;
}

.bonus {
    border-right: 4px solid #dee2e6;
}

.logo {
    height: 80px;
    width: 90px;
    background-color: #a7c5c2;
    align-items: center;
    border-radius: 5px;
}

.item1 {
    height: 250px;
}

/* Anh xem giúp em phần menu drop-down em chưa tìm được cách để phần menu hiện ra có độ dài bằng phần column phía dưới và khi nhấn vào drop-donwn phần menu sẽ bị đè lên ô column phía dưới */