body {
    background-color: #61948e;
}

.part1 {
    height: 100px;
    align-items: center;
}

.part1-none {
    height: 90px;
    align-items: center;
}

.logo {
    height: 80px;
    width: 90px;
    background-color: #a7c5c2;
    align-items: center;
    border-radius: 5px;
}

.logo-mini {
    height: 50px;
    width: 70px;
    margin-left: 10px;
}


.fa {
    font-size: 35px;
}

#dropdownMenuButton1 {
    height: 50px;
    width: 50px;
    border: 0 !important;
    background-color: #a7c5c2;
    border-radius: 5px;
}

.item2 {
    height: 250px;
}

.bonus {
    border-right: 4px solid #dee2e6;
}

.item {
    height: 30px;
    width: 170px;
    padding: 0 !important;
    text-align: center;
    color: #dee2e6;
}

.item1 {
    color: #375e59;
    border-radius: 4px;
    border: 0.5px solid #dee2e6;
    padding: 8px 25px !important;
    background-color: #dee2e6;
} 

.margin {
    margin-right: 20px;
}