body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Times New Roman", Times, serif;
}

.part1,
.part2,
.part3,
.part4,
.part5 {
  margin: auto;
  max-width: 1000px;
}

.part2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 35px;
}

.text-part2 {
  display: flex;
  align-items: center;
}

.mini-header {
  margin: auto;
  text-align: center;
  font-size: 20px;
  color: #52b3b9;
}

.flower {
  display: block;
  margin: 40px auto;
}

.part6 {
  margin: 20px auto;
  max-width: 1000px;
  text-align: end;
}

.picture {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 45px;
}

h2 {
  font-size: 35px;
  text-align: center;
  width: 1000px;
  margin: auto;

}

.return {
  display: block;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 15px 30px;
  color: #fff;
  background-color: #3c5cff;
  transition: 2s;
  font-size: 20px;
  margin-top: 40px;
}

.return:hover {
  color: #3c5cff;
  background-color: #f7f7f7;
}

img {
  transition: 0.8s;
}

img:hover {
  opacity: 0.7;
}