body {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Times New Roman", Times, serif;
}

.img-fluid {
    transition: 0.8s;
    padding-bottom: 10px !important;
  }
  
.img-fluid:hover {
    opacity: 0.7;
}

.h1 {
  font-size: 45px !important;
  text-align: center;
  margin: 30px 0;
}

.picture {
  padding: 0 16px 30px !important;
}

.text {
  padding: 0 !important;
}

.h2 {
  font-size: 40px !important;
  margin: 25px 0 ;
  text-align: center;
}

.italic-margin {
  margin-bottom: 5px !important;
}

.return {
  display: block;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 15px 30px;
  color: #fff;
  background-color: #3c5cff;
  transition: 2s;
  font-size: 20px;
  margin-top: 40px;
}

.return:hover {
  color: #3c5cff;
  background-color: #f7f7f7;
}

@media screen and (max-width : 575px) {
  .picture {
      padding-bottom: 16px !important;
  }

  .h1 {
    font-size: 25px !important;
    margin: 15px 5px;
  }

  .h2 {
    font-size: 22px !important;
    margin: 15px;
  }

  body {
    font-size: 16px !important;
  }

  p {
    margin-bottom: 10px !important;
  }

  .mini-header {
    font-size: 16px !important;
    margin-top: 0 !important;
  }
}

@media screen and (max-width : 991px) {
  .picture {
      padding-bottom: 0 !important;
  }

  .flower {
    width: 40%;
  }

  .return {
    margin-top: 30px;
  }
}

/* Phú Yên */

.mini-header {
  margin: 15px auto;
  text-align: center;
  font-size: 23px;
  color: #52b3b9;
}

.header-phuyen {
  color: #d0b29a;
}

/* Ninh thuận */

.header-ninhthuan {
  color: #809eaa;
}

.mini-header-ninhthuan {
  color: #3f5f72;
}

/* Tây nguyên */

.background {
  width: 100%;
}

.header-taynguyen {
  color: #81a3ab;
}

.spacing {
  margin-top: 10px;
}