body {
    background-color: #e7e0db !important;
    margin: 20px auto !important;
}

h1 {
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
    color: #3a6489;
    text-align: center;
    margin-bottom: 30px !important;
}
.card-body {
    padding: 15px 16px 0px;
}

.card-title {
    font-size: 22px;
    color: rgb(240, 217, 217);
}

.card-text {
    font-size: 15px;
    color: #333;
}

a {
    text-decoration: none;
}