.modal-content {
    width: 80vw;
    height: 70vh;
    justify-content: center;
    background-color: #F7F6F4;
    padding: 20px 35px;
}

.modal-dialog {
    margin: 0;
    position: absolute;
    top: 100px;
    left: 100px;
}

.modal-pic {
    max-width: 120px;
}

.modal-padding {
    padding: 20px 0;
    border-bottom: 1px solid #999999;
}

.dropdown-toggle {
    width: 300px;
    margin-bottom: 25px;
}

.p2-modal {
    text-align: end;
    margin-bottom: 10px;
}

#number-a , #number-b  {
    width: 20px;
    padding: 15px;
}

.fa-trash {
    color: #D93F3F;
    font-size: 15px;
}

.fa-trash:hover {
    color: #D93F3F !important;
}

#price-a , #price-b , #total {
    font-size: 1.25rem;
    font-weight: 700;
}

.big {
    width: 200px;
}

.font {
    font-size: 0.85em;
}

.color {
    color: #D93F3F;
}

.modal-dialog ul {
    margin-left: 15px;
}

#dropdownMenuButton1 {
    border-color: #999999;
    color: #999999;
    background-color: #FFFFFF;
    font-size: 0.85em;
}

.bg-color {
    background-color: #D93F3F;
}

#click-item-b , #click-item-a , click {
    border: 1px solid #D93F3F;
}

.total-modal {
    padding: 30px 0;
}

#country-info {
    margin: 10px;
    border: 1px solid #999999;
    outline: none;
}

.total-modal p {
    margin: 0;
}

.modal-margin {
    padding-right: 30px;
}

.modal-footer {
    border: 0;
    padding: 12px 0;
}

.button {
    margin: 0;
    font-size: 1.25rem;
    width: 100%;
    padding: 8px;
    color: #fff;
    background-color: #D84727;
    border: 0;
    border-radius: 3px;
    transition: 0.5s;
}

.button:hover {
    background-color: #bd4024;  
}

.nav-button {
    background-color: #F1DDC9;
    border: 0;
    border-radius: 50%;
    padding: 10px 8px;
}