html {
    font-size: 18px;
}
 * {
     box-sizing: border-box !important;
 }

body {
    background-color: #E5E5E5;
    font-family: 'Times New Roman', Times, serif;
}

.padding {
    padding: 0 !important;
}

.margin {
    margin: 0 !important;
}

.img-fluid {
    margin-bottom: 2rem;
}

p {
    margin-bottom: 0;
}

@media screen and (max-width : 991px) {
    html {
        font-size: 16px;
    }

    .navbar {
        margin-top: 0 !important;
    }

    .nav-menu-icon li:last-child {
        margin-right: 0;
        display: flex;
        justify-content: start !important;
        border-radius: 0 !important;
        background-color: #F1DDC9;
        padding: 0.5rem 0 !important;
    }

    .nav-menu-icon li:first-child , .nav-menu-icon li:nth-child(2) , .nav-menu-text li {
        padding-left: 6px !important;
    }

    .nav-menu-text li a {
        padding: 0 !important;
        margin: 0 !important;
    }

    .mb-footer-matoa {
        margin-top: 2rem;
    }

    .mb-footer-matoa .h5 {
        font-size: 1.75rem;
    }

    .display-none {
        display: none;
    }
}

@media screen and (max-width : 767px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width : 575px) {
    html {
        font-size: 13px;
    }
}

/* nav-bar */
.nav-menu-text {
    margin: 0 auto;
}

.nav-menu-icon li {
    margin-right: 1.5rem;
}

.nav-menu-icon li:last-child {
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.25rem;
    border-radius: 50%;
    background-color: #F1DDC9;
}

.nav-menu-text li a {
    margin: 0 1rem;
}

.nav-menu-text li a , .nav-menu-icon li a , .nav-menu-text li a:hover , .nav-menu-icon li a:hover , .nav-menu-text li a:focus , .nav-menu-icon li a:focus {
    color: #333;
}

.fa-search , .fa-user , .fa-shopping-bag {
    font-size: 1.25rem;
    color: #999595;
}

p.text-nav {
    padding-left: 0.75rem;
}

.navbar {
    margin-top: 1rem;
    margin-bottom: 3.5rem;
}

.nav-button {
    border: 0;
    background-color: #F1DDC9;
}

.navbar-toggler {
    border: 0;
    padding: 0;
}

.fa-bars {
    font-size: 2rem !important;
    color: #333;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: none;
}

/* Progress bar */

.fa-shopping-basket , .fa-credit-card , .fa-tasks {
    font-size: 1.5rem;
    color: #999999;
}

.box-progress p {
    color: #999999;
}

.box-progress {
    padding: 0 1rem;
}

.hr {
    max-width: 5rem;
    width: 100%;
    position: relative;
    top: 0.75rem;
    left: 0;
}

hr {
    margin: 0;
}

.display-center-progress {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.box-progress p {
    height: 2rem;
}

.color-progress , .fa-tasks {
    color: #D84727 !important;
    font-weight: 550;
}

/* Confirmation Details */
.order-confirm {
    background-color: #fff;
    padding: 1.5rem;
    position: relative;
    height: 100%;
}

.order-confirm-info {
    background-color: #fff;
    padding: 2rem 1.5rem; 
    position: relative;
    height: 100%;
}

.order-confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-confirm p {
    text-align: center;
}

.order-confirm button {
    display: flex;
    justify-content: center;
}

.order-confirm img {
    margin-top: 2rem !important;
    width: 320px !important;
}

.order-confirm p:first-child {
    font-size: 1.5rem;
    font-weight: 550;
    margin-top: 1.25rem;
}

.order-confirm p:last-child , .info-items span {
    color: #999999;
    font-size: 0.95rem;
    
}

.btn-danger {
    margin-top: 2rem;
    font-size: 1.15rem;
    padding: 0.65rem 4rem;
    background-color: #D84727;
    border-radius: 0;
}

.btn-check:focus+.btn, .btn:focus {
    border: 1px solid #D84727;
    color: #fff;
    box-shadow: 0 0 0 0 !important;
    background-color: #D84727;
}

.btn-check:hover+.btn , .btn:hover {
    box-shadow: 0 0 0 0 !important;
    background-color: #b33b20;
}

.btn-check:hover+.btn-outline-danger , .btn-outline-danger:hover {
    background-color: #D84727;
}

.delivery {
    margin-right: 2rem;
}

.order-confirm-info img {
    margin-right: 0.75rem !important;
}

.time-img {
    width: 24px;
    height: 24px;
}

.info-items {
    margin-top: 1.75rem;
    margin-bottom: 1.25rem;
}

.info-items p {
    font-weight: 550;
}

.info-table td {
    padding: 0.75rem 0 0.25rem;
    font-size: 1rem;
}

.bold-text {
    font-weight: 550 !important;
}

.grand-total , .total-price {
    padding-top: 1rem !important;
    font-size: 1.25rem !important;
    font-weight: 550 !important;
}

.total-price {
    color: #D84727 !important;
}

/* footer-a */
.footer-a {
    background-color: #DA5E42;
    margin: 0 auto;
}

/* footer-b */
.footer-b {
    background-color: #dd4522;
    color: #fff;
    padding: 30px 0;
}

li.list-group , th , td {
    font-size: 0.85rem;
    padding-bottom: 0.25rem;
}

.h5 {
    margin: 0 !important;
}

ul.list-group , .margin-footer-b table {
    margin-top: 1.25rem;
}

th {
    padding-right: 1rem;
}

/* margin-bottom */
.mb-progress-line , .mb-confirmation {
    margin-bottom: 3.5rem
}

/* custom scrollbar */
::-webkit-scrollbar {
    max-width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: #DA5E42;
}

::-webkit-scrollbar-thumb {
    background-color: #D84727;
    height: 5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b33b20;
}
